/*---------GALLERY----------------------------------------------*/


.category-header {
	text-align: center;
}

.arrow {
	display: none;
}

.gallery-holder {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	margin: 0 5px;
}

.gallery-col {
	border-color: transparent;
	display: flex;
	flex-direction: row;
	flex: 1;
	height: auto;
	padding: 0 5px;
	padding-bottom: 50px;
}

.gallery-col-tall {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	flex: 2;
	justify-content: space-between;
	height: auto;
	padding: 0px 5px;
	padding-bottom: 50px;
}

.gallery-row {
	background-color: transparent;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-img-border {
	margin: auto;
	width: 70%;
	padding: 5px 5px;
	background-color: #FEFEFE;
}

.gallery-img-border-tall {
	margin: auto;
	width: 50%;
	padding: 5px 5px;
	background-color: #FEFEFE;
}

.gallery-img {
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	#category-list {
		margin-right: auto;
		margin-left: auto;
		width: 85vw;
		margin-bottom: 20px;

		display: none;
	}

	.category-header {
		cursor: pointer;

		font-size: 160%;
		box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.4);
		padding-bottom: 15px;
		margin-top: 0px;
	}

	hr {
		display: none;
	}

	.arrow {
		display: initial;
		font-size: 6vw;
	}

	.gallery-holder { 
		display: none;
		justify-content: space-around;
		margin: 0;
	}

	.gallery-col {
		flex-direction: column;
		justify-content: space-around;
		height: 200vw;
		padding: 0;
	}

	.gallery-col-tall {
		flex-direction: column;
		height: 275vw;
		padding: 0;
	}

}